head 
    meta(charset="UTF-8")
    meta(name="robots",content="index,follow")
    meta(name="viewport",content="width=device-width,initial-scale=1.0")
    meta(name="description",content="Practica de velocidad con PUG y SASS")
    link(rel="stylesheet", href="css/styles.css")
    title PreProc4 