-titulos = ["","PlatziGames","Menu","Título Principal"]
-menuNav = ["Acerca","Noticias","contacto"]

-registroo = "Ever"

mixin caja(titulo,text1,text2)
    article.caja
        h3.caja__titulo=titulo
        p.caja__texto=text1
        p.caja__texto=text2
        a.boton.caja__boton(href="#") Ver Más 