head 
    meta(charset="UTF-8")
    meta(name="robots", content="landing,follow")
    meta(name="viewport",content="width=device-width,initial-scale=1.0")
    meta(name="description",content="Repasando lo de PUG")
    title Reto 2
    link(rel="stylesheet", href="css/styles.css")