#dibujosCSS__1-pelado
    .head__cabeza
    .neck__cuello
    .nose__nariz
    .ears
    .eye--left 
    .eye--right
    .pto--left 
    .pto--right
    .eyebrow__cejas
    .beard__barba
    .mouth__boca
    .mouth__boca-container
    .teeth 
    .lengua