.footer {
    width: 100%;
    height: 70px;
    display: flex;
    padding: 0px 30px;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, $color-primary, $color-secundary);
    &__nav {
        li {
            display: inline-block;
            a {
                padding: 5px 10px;
                display: block;
                text-transform: uppercase;
                @include font-size(15px, 1.2);
                color: white;
                &:hover {
                    text-decoration: underline;
                    // border-bottom: 1px solid white;
                }
            }
        }
    }
}