-var titulos = ['PLATZIGAMES','MENU','Titulo Principal']
-var menu = ["ACERCA","NOTICIAS","CONTACTO"]

mixin caja(titulo,contenido1,contenido2) 
    .caja 
        h2.caja__titulo=titulo 
        p.caja__parrafo1=contenido1 
        p.caja__parrafo2=contenido2 
        a.boton VER MAS 