extend componentesHTML/plantilla.pug
block main 
    section.dibujosCSS-container
        article.dibujosCSS
            include componentesHTML/dibujosHTML/1_pelado.pug
    section.otra-seccion-nueva-container