extend componentesHTML/plantilla.pug
block main-container
    nav.nav-container 
        h2.nav__titulo #{titulos[2]}
        ul 
            each coso in menu 
                li 
                    a(href="#")=coso 
    section.contenido
        section.cajas-container 
            +caja(titulos[3],"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.")
            +caja(titulos[3],"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.")

        section.bloques-container 
            .bloque
            .bloque
            .bloque
            .bloque
            .bloque
            .bloque
            .bloque
            .bloque
            .bloque
            .bloque
            .bloque
            .bloque
            .bloque