* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: sans-serif;
}

.logo-main {
  width: 200px;
  height: 50px;
  background-image: url("./iconos/logo-platzi-video-BW2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.boton {
  width: 120px;
  height: 36px;
  display: block;
  padding: 10px 10px;
  padding-left: 35px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: white;
  border-radius: 10px;
  background-color: #1E5372;
  background-image: url("./iconos/platzi-logo-icono.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 8px center;
}

.header {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 30px;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#1D3744), to(#1E5372));
  background: linear-gradient(90deg, #1D3744, #1E5372);
}
.header__title {
  font-size: 0px;
  position: absolute;
}
.header__nav {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.header__nav li:hover > ul {
  display: block;
}
.header__nav > li {
  display: inline-block;
}
.header__nav > li ul {
  width: 100px;
  display: none;
  position: absolute;
  background-color: rgba(29, 55, 68, 0.8);
}
.header__nav > li ul li ul {
  top: 0;
  right: 100px;
}
.header__nav li {
  position: relative;
}
.header__nav li a {
  display: block;
  padding: 5px 10px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.2rem;
  color: white;
}
.header__nav li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.main-container {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #121F3D;
}

.main {
  width: 70%;
  min-width: 300px;
  max-width: 700px;
  margin: 0 auto;
  background-color: white;
}

.main__ficheros {
  padding: 30px 30px;
  padding-bottom: 10px;
  background-color: white;
}
.main__ficheros h2 {
  margin: 10px 0px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}
.main__ficheros article {
  margin: 30px 0;
  margin-bottom: 40px;
  padding: 40px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
  grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 50px 1fr 40px;
  grid-template-rows: 50px 1fr 40px;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 10px rgba(36, 56, 91, 0.5);
          box-shadow: 0 0 10px rgba(36, 56, 91, 0.5);
}
.main__ficheros article > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.main__ficheros article > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.main__ficheros article > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.main__ficheros article > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.main__ficheros article > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.main__ficheros article > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.main__ficheros article .hiro__img {
  height: 320px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/span 3;
  overflow: hidden;
  border-radius: 30px;
}
.main__ficheros article .hiro__img img {
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}
.main__ficheros article h3 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/span 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.main__ficheros article p {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/span 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/span 1;
  margin-left: 20px;
  margin-bottom: 20px;
}
.main__ficheros article .boton {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/span 1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/span 1;
  margin-left: 20px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.main__ficheros article .boton:hover {
  background-color: #24385B;
}
.main__ficheros article:nth-child(3) .hiro__img img {
  -o-object-position: -100px 0px;
     object-position: -100px 0px;
}
.main__ficheros article:nth-child(4) .hiro__img {
  background-image: url("https://media.gettyimages.com/photos/ford-automobile-founder-henry-ford-picture-id530837564?s=612x612");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -30px 0;
}
.main__ficheros article:nth-child(5) .hiro__img {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/52/John_D._Rockefeller%2C_Sr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -30px 0;
}

.main__celu {
  width: 100%;
  min-height: 200px;
  padding: 30px;
  display: -ms-grid;
  display: grid;
  background: linear-gradient(135deg, #1D3744 25%, transparent 40%), linear-gradient(-135deg, #1E5372 25%, transparent 40%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.main__celu h2 {
  margin: 0 auto;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
}

.celu-container {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 10px 50px 10px 50px;
  grid-template-columns: repeat(3, 50px);
  grid-auto-rows: 50px;
  gap: 10px 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background-color: #121f3d;
}

.celu__tecla {
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
}
.celu__tecla:hover {
  border: 5px solid #91C93C;
  background-image: url("./iconos/platzi-logo-icono.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center;
}
.celu__tecla--home {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 6;
  grid-row: 6;
  border-radius: 50px;
  background-color: white;
}
.celu__tecla--home:hover {
  background-color: #91C93C;
  background-image: url("./iconos/dragon.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
}

.main__dibujos {
  width: 100%;
  min-height: 100px;
  position: relative;
  padding: 30px;
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #523CA0;
}
.main__dibujos h2 {
  position: absolute;
  padding: 10px 0;
  top: 15px;
  left: 0px;
  right: 0px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.main__dibujos article {
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.reto-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reto-1 .dibujo-container {
  width: 100px;
  height: 150px;
  position: relative;
  background-color: #ED4042;
}
.reto-1 .dibujo-container .cabeza {
  width: 75px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -75px);
          transform: translate(-50%, -75px);
  border-radius: 100px;
  background-color: #F6C09C;
}
.reto-1 .dibujo-container .cuello {
  width: 50px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 15px);
          transform: translate(-50%, 15px);
  background-color: rgba(246, 192, 156, 0.5);
}
.reto-1 .dibujo-container .barba {
  width: 75px;
  height: 85px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -20px);
          transform: translate(-50%, -20px);
  border-radius: 30px 30px 50px 50px;
  background-color: #00243a;
}
.reto-1 .dibujo-container .orejas {
  width: 98px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -30px);
          transform: translate(-50%, -30px);
  border-radius: 50px;
  border: 5px solid rgba(246, 192, 156, 0.5);
  background-color: rgba(246, 192, 156, 0.3);
}
.reto-1 .dibujo-container .nariz {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -28px);
          transform: translate(-50%, -28px);
  border-radius: 50px;
  background-color: #f6c09c;
}
.reto-1 .dibujo-container .ojos {
  width: 22px;
  height: 22px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-20px, -47px);
          transform: translate(-20px, -47px);
  border-radius: 50px;
  background-color: white;
}
.reto-1 .dibujo-container .ojos::after {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0px;
  left: 22px;
  -webkit-transform: translate(-4px, 0px);
          transform: translate(-4px, 0px);
  border-radius: 50px;
  background-color: white;
}
.reto-1 .dibujo-container .ojos-interior {
  width: 3px;
  height: 3px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(10px, -10px);
          transform: translate(10px, -10px);
  border-radius: 5px;
  background-color: black;
}
.reto-1 .dibujo-container .ojos-interior::after {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(17px, 0px);
          transform: translate(17px, 0px);
  border-radius: 5px;
  background-color: black;
}
.reto-1 .dibujo-container .cejas {
  width: 45px;
  height: 20px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -62px);
          transform: translate(-50%, -62px);
  background-color: #F6C09C;
}
.reto-1 .dibujo-container .boca {
  width: 38px;
  height: 20px;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  border-radius: 0px 0px 50px 50px;
  background-color: #680524;
}
.reto-1 .dibujo-container .boca .dientes {
  width: 28px;
  height: 7px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px 0px 5px 0px;
  background-color: white;
}
.reto-1 .dibujo-container .boca .lengua {
  width: 20px;
  height: 9px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 5px 0 0;
  background-color: #ED2860;
}

.main__dibujos .reto-1 .dibujo-container {
  width: 100%;
  height: 100%;
}

.reto-2 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reto-2 .dibujo-container {
  width: 100px;
  height: 150px;
  position: relative;
  background-color: #ED4042;
}
.reto-2 .dibujo-container .cabeza {
  width: 75px;
  height: 120px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -75px);
          transform: translate(-50%, -75px);
  border-radius: 100px;
  background-color: #F6C09C;
}
.reto-2 .dibujo-container .cabeza::before {
  content: "";
  width: 75px;
  height: 60px;
  position: absolute;
  bottom: 0;
  background-color: rgba(237, 64, 66, 0.2);
}
.reto-2 .dibujo-container .cabeza::after {
  content: "";
  width: 75px;
  height: 60px;
  position: absolute;
  bottom: 20px;
  border-radius: 0 0 50px 50px;
  background-color: #F6C09C;
}
.reto-2 .dibujo-container .cuello {
  width: 50px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 15px);
          transform: translate(-50%, 15px);
  background-color: rgba(246, 192, 156, 0.5);
}
.reto-2 .dibujo-container .orejas {
  width: 98px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -30px);
          transform: translate(-50%, -30px);
  border-radius: 50px;
  border: 5px solid rgba(246, 192, 156, 0.5);
  background-color: rgba(246, 192, 156, 0.3);
}
.reto-2 .dibujo-container .nariz {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -29px);
          transform: translate(-50%, -29px);
  border-radius: 50px;
  background-color: #f6c09c;
}
.reto-2 .dibujo-container .nariz::before {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-6px, -50%);
          transform: translate(-6px, -50%);
  border-radius: 5px;
  background-color: rgba(237, 64, 66, 0.4);
}
.reto-2 .dibujo-container .nariz::after {
  content: "";
  width: 4px;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(2px, -50%);
          transform: translate(2px, -50%);
  border-radius: 5px;
  background-color: rgba(237, 64, 66, 0.4);
}
.reto-2 .dibujo-container .ojos {
  width: 22px;
  height: 22px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-20px, -47px);
          transform: translate(-20px, -47px);
  border-radius: 50px;
  background-color: white;
}
.reto-2 .dibujo-container .ojos::after {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0px;
  left: 22px;
  -webkit-transform: translate(-4px, 0px);
          transform: translate(-4px, 0px);
  border-radius: 50px;
  background-color: white;
}
.reto-2 .dibujo-container .ojos-interior {
  width: 3px;
  height: 3px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(10px, -10px);
          transform: translate(10px, -10px);
  border-radius: 5px;
  background-color: black;
}
.reto-2 .dibujo-container .ojos-interior::after {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(17px, 0px);
          transform: translate(17px, 0px);
  border-radius: 5px;
  background-color: black;
}
.reto-2 .dibujo-container .boca {
  width: 19px;
  height: 19px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(3px, -10px);
          transform: translate(3px, -10px);
  border-radius: 50px;
  background-color: #002439;
}
.reto-2 .dibujo-container .boca .dientes {
  width: 13px;
  height: 7px;
  position: absolute;
  border-radius: 0 0 4px 0;
  background-color: white;
}
.reto-2 .dibujo-container .boca .lengua {
  width: 11px;
  height: 9px;
  position: absolute;
  bottom: 0;
  border-radius: 0 4px 0 0;
  background-color: #ED2860;
}

.main__dibujos .reto-2 .dibujo-container {
  width: 100%;
  height: 100%;
}

.footer {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, right top, from(#1D3744), to(#1E5372));
  background: linear-gradient(90deg, #1D3744, #1E5372);
}
.footer__nav li {
  display: inline-block;
}
.footer__nav li a {
  padding: 5px 10px;
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  color: white;
}
.footer__nav li a:hover {
  text-decoration: underline;
}