footer {
    width: 100%;
    height: 70px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primario;

    .footer__titulo {
        text-transform: uppercase;
        color: white;
        @include font-size(28px,1.2);
    }

    .footer__mas-info li {
        display: inline-block;
        a {
            padding: 10px 5px;
            text-transform: uppercase;
            color: white;
            @include font-size(14px,1.2);
            &:hover {
                text-decoration: underline;
            }
        }
    }
}