-var titulos = ["","PlatziGames","Menu","Titulo Principal"]
-var usuario = "Ever"
-var menu = ["acerca","noticias","contacto"]

mixin caja(titulo,parrafo1,parrafo2)
    article.caja 
        h2.caja__titulo=titulo 
        p.caja__p1=parrafo1 
        p.caja__p2=parrafo2 
        a.boton.caja__boton--circular(href="#") Ver Más


