-var titulos = ["","PlatziGames","Menu","Mi tísutlo"]
-var usuario = "Ever L."
-var mas = ["Acerca","noticias","contacto"]
-var notebooks = ["Gamer","All in one","4K","Office"]

mixin caja(titulo,contenido)
    .caja
        h3.caja__title=titulo
        p.caja__p=contenido
        .caja__boton 
            a(href="#").caja__boton-text Leer Más
