-titulos = ["","PlatziGames","Menu","Mi caja"]
-usuario = "E. Lizarraga"
-menu = ["Acerca","noticias","contacto"]

mixin caja(titulo,parrafo)
    article.caja 
        h2.caja__titulo=titulo 
        p.caja__p=parrafo 
        a.boton.caja__boton(href="#") Leer Más 